/*
* Resume template
* Created by : Ahmed Essa
* website : www.ahmedessa.net
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - home section -
    - About section -
    - projects section -
    - Skill section -
    - experience section -
    - Contact section -
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';

/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/



/* typography
==================================================*/
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* General
==================================================*/

body {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    line-height: 24px;
}

.size-50 {
    font-size: 50px;
    line-height: 50px;
    font-family: 'NanumBarunGothic';
    
}

.h-50 {
    height: 50px;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #425BB5;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }
    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* Header
==================================================*/

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #933d49;
    font-size: 15px;
    font-weight: bold;
}

.bg-nav {
    background: url(../img/h_bg.png);
    border-bottom: 1px solid #933d49
}

.bg-nav ul {
    padding: 10px 0;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #c36471;
    text-decoration: none;
    font-size: 20px;
}

a.active {
    color: #c36471;
}


/* home section
==================================================*/

#home {
    background: url(../img/bg1.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* .table-cell {
    display: table-cell;
    vertical-align: middle;
}
.disply-table {
    display: table;
    height: 100vh;
} */

#home .container{
    width: 95%;
    height: 100%;
    margin: auto;
    position: relative;
}
#home h1{
    padding-top: 230px;
    font-family: 'RIDIBatang';
    text-align: center;
    color:#a63444;
    font-size: 140px;
    line-height: 150px;
}
#home h2{
    font-family: 'RIDIBatang';
    color:#a63444;
    font-size: 50px;
    line-height: 60px;
    position: absolute;
    bottom: 20px;
    left: 0;
}
#home h2 img{
    position: absolute;
    bottom: 50px;
    left: 267px;
}
#home h2 span{
    font-weight: 700;
    font-size: 60px;
}
#home h3{
    font-family: 'RIDIBatang';
    color:#a63444;
    font-size: 50px;   
    position: absolute;
    bottom: 20px;
    right: 0;
}
.br{display: none;}

/* about section
==================================================*/

#about {
    padding: 150px 0;
    background: url(../img/bg01.gif) no-repeat #fffff0 center bottom;
    background-size: 100%;
}

.about-img-div img {
    margin: 0 auto;
}

.about-border {
    position: absolute;
    border: 8px solid #d78f7b;
    width: 309px;
    height: 383px;
    top: 23px;
    left: 266px;
    border-radius: 0 100px;
}
#about h1{
    font-family: 'Happiness-Sans-Title';
    font-size: 18px;
    font-weight: 200;
    line-height: 40px;
    position: relative;
}
#about span{
    font-size: 50px;
}
#about h1 img{
    position: absolute;
    top: 10px;
    left: 433px;
}
#about p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 30px;
}
.col-md-6 img{
    border-radius: 0 100px;
    position: relative;
    z-index: 2;
}



/* skill section
==================================================*/
#skill {
    padding: 100px 0;
    background-color: #fffff0;
}
.chart {
    width: 100%;
    text-align: center;
    position: relative;
}
.chart span.title{
    position: absolute;
    display: block; 
    width: 100%; 
    text-align: center; 
    top: 50%;
    transform: translateY(-50%);
}

.chart span.title b{
    font-size: 20px;
}
#skill h1{
    position: relative;
}
#skill h1 img{
    position: absolute;
    top: -30px;
    left: 101px;
}

/* projects section
==================================================*/

#projects {
    padding: 100px 0;
    background: url(../img/bg2.png);
}

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #a94442;
    padding: 0 10px;
    margin: 0 14px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    background-color: #a94442;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #425BB5;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #333;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}
.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #425BB5;
    padding: 5px 20px;
    color: #fff;
    margin-top: 10px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.portfolio-padding {
    padding: 50px 0;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}

.portfolio_container .col-md-12{
    padding-left:0;
	padding-right:0;
}
	
.project_btn{
    display:inline-block;
	padding:5px 20px;
    background-color: #a94442;
    color: white;
    font-weight: 400;
    text-decoration: none;
    border-radius: 50px;
}

.project_btn:hover{
    color:#fff;
	background:#c36471;;
}

.project_btn_box{
    text-align:left;
    padding-top:20px;
}
#projects h1{
    position: relative;
}
#projects h1 img{
    position: absolute;
    top: -25px;
    left: 378px;
}
#projects h3{
    font-family: 'Happiness-Sans-Title';
    font-size: 23px;    
}
#projects p{
    font-size: 16px;    
}


/* experience section
==================================================*/

#experience {
    padding: 100px 0;
    background-color: #fffff0;
}

.experience-row {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.experience-row h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #425BB5;
    font-size: 16px;
    font-weight: bold
}

.experience-row p {
    color: #888;
    margin-top: 20px;
    font-size: 15px;
}

.experience-row .date {
    color: #000;
    font-size: 17px;
}

.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a94442;
}

.timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #c36471;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #c36471;
    outline: 10px solid #f2dede;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0em #c36471;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 5px 10px;
    background-color: #a94442;
    border-radius: 50px;
}
#experience h1{
    position: relative;
}
#experience h1 img{
    position: absolute;
    top: -25px;
    left: 446px;
}
#experience h3{
font-family:  'RIDIBatang';
}

/* contact
==================================================*/

#contact {
    padding: 100px 0;
    background: url(../img/bg3.png);
}

#contact-form input,
#contact-form textarea {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0;
}

#contact-form label {
    display: block;
    margin-bottom: .2em;
    font-size: 13px;
    line-height: 13px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #000;
}

#contact-form label.error {
    margin-top: 10px;
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #D33E43;
    margin-left: 10px
}
#contact .col-md-4{
    text-align: center;
}
#contact i{
    font-size: 50px;
}
#contact h1{
    position: relative;
}
#contact h1 img{
    position: absolute;
    top: -31px;
    left: 276px;
}

#contact p{
color: #a63444;
font-size: 22px;
}
#contact h3{
    font-family: 'Happiness-Sans-Title';
    font-size: 18px;
}



/* footer
==================================================*/

#footer{
    padding: 30px 0;
    background-color: #fffff0;
}
#footer p{
    margin-bottom: 0;
    text-align: center;
}

/*top 버튼*/
.top{
    list-style: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
}


/* Responsive media queries
==================================================*/
@media (max-width: 1200px){
    #home h2 img{
        position: absolute;
        bottom: 50px;
        left: 267px;
    }
    .about-border {
            position: absolute;
            border: 8px solid #d78f7b;
            width: 309px;
            height: 383px;
            top: 23px;
            left: 172px;
            border-radius: 0 100px;
    }
    #home h2{
        bottom: 14vh;
        width: 100%;
        text-align: center;
    }
    #home h2 img{
        display: none;
    }
}

@media (max-width: 1069px){
    #home h1{
        font-size: 100px;
    }
}
@media (max-width: 995px){
    .about-border {
        position: absolute;
        border: 8px solid #d78f7b;
        width: 309px;
        height: 383px;
        top: 23px;
        left: 227px;
        border-radius: 0 100px;
    }
    .col-md-6 img {
        border-radius: 0 100px;
        }
}

@media (max-width: 775px){
    #home h1{
        font-size: 80px;
        line-height: 90px;
    }
    .about-border {
        position: absolute;
        border: 8px solid #d78f7b;
        width: 309px;
        height: 383px;
        top: 23px;
        left: 50%;
        margin-left: -130px;
        border-radius: 0 100px;
    }
}

@media (max-width: 991px) {
    .portfolio .categories-grid .categories ul li a {
        padding: 0 2px;
    }
	.project_btn{
		margin:2px;
	}
    .about-img-div img{
        display: block;
        margin: auto;
        float: none;
    }
}

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 629px){
    #home h1{
        font-size: 107px;
    line-height: 95px;
    padding-top: 10vh;
    }
    #home h3{
        text-align: center;
    }
    .br{display: block;}
}

@media (max-width: 600px){
    #home h1{
        font-size: 60px;
        line-height: 70px;
    }
    #home h2{
        font-size: 40px;
        line-height: 50px;
    }
    #home h2 span {
        font-size: 50px;
    }
    #home h3{
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .navbar-fixed-top a{
        font-size: 12px;
    }

}
@media (max-width: 515px){
    #experience h1 img{
        position: absolute;
        top: 24px;
        left: 265px;
    }
}
@media (max-width: 522px) {
    #about h1 img {
        position: absolute;
        top: -66px;
        left: 0;
    }
    #skill h1 img {
        position: absolute;
        top: -82px;
        left: 0;
    }
    #projects h1 img {
        position: absolute;
        top: -82px;
        left: 0px;
    }
    #experience h1 img {
        position: absolute;
        top: -82px;
        left: 0;
    }
    #contact h1 img {
        position: absolute;
        top: -82px;
        left: 0;
    }



}


@media (max-width: 500px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .about-border {
        width: 265px;
    }
    .portfolio .categories-grid .categories ul li {
        list-style: none;
        margin: 10px 0;
    }
    nav ul{
        padding: 20px 0;
    }
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: 10px;
    }
    
}

@media (max-width: 425px) {
    nav ul{
        padding: 20px 0;
    }
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: 10px;
    }
}
@media (max-width: 397px){
    header{
        height: 97px;
    }
}

@media (max-width: 374px) {
    nav ul{
        width: 100%;
    }
    nav{
        display: none;
    }
    .about-border {
        display: none;
    }
}

@media (max-width: 320px) {
    header{
        height: auto;
    }
}


